[user]
    name = Tapani Kiiskinen
    email = tapani.kiiskinen@gmail.com
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
    renames = true
    colorMoved = dimmed-zebra
[core]
    editor = vim
    pager = less -FRX -x4
[color]
    ui = auto
[alias]
    br = branch
    ci = commit
    co = checkout
    dc = diff --cached
    dcs = diff --cached --stat
    df = diff
    dfnw = diff --word-diff-regex=[^[:space:]]
    dfs = diff --stat
    fe = fetch
    ff = merge --ff-only
    h = help
    lg = log
    rtr = restore
    st = status
    sw = switch
    find = "!cd ${GIT_PREFIX:-.} && gitfind() { git ls-files | grep -i $@; } && gitfind"
    ignored = ls-files --others -i --exclude-standard
    lsd = log --graph --decorate --pretty=oneline --abbrev-commit
    lsda = log --graph --decorate --pretty=oneline --abbrev-commit --all
    message = log --format=%B -n 1
    whoami = "!echo $(git config --get user.name) \\<$(git config --get user.email)\\>"
    yolo = "!git add -u; git commit --amend --no-edit"
[mergetool]
    keepBackup = false
[push]
    default = current
[grep]
    linenumber = true
[pull]
    rebase = true
[fetch]
    prune = true
[init]
    defaultBranch = development
[include]
    path = ~/.gitconfig_local
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig_work
