[user]
    name = Tapani Kiiskinen
    email = tapani.kiiskinen@arcusys.fi
[include]
    path = .gitconfig_local
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
[core]
    editor = vim
[color]
    ui = auto
[alias]
    ci = commit
    br = branch
    co = checkout
    st = status
    df = diff
    lg = log
    h = help
[mergetool]
    keepBackup = false
