[user]
    name = Tapani Kiiskinen
    email = tapani.kiiskinen@gmail.com
[include]
    path = .gitconfig_local
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
    renames = true
[core]
    editor = vim
    pager = less -FRX -x4
[color]
    ui = auto
[alias]
    ci = commit
    br = branch
    co = checkout
    st = status
    df = diff
    dfc = diff --cached
    lg = log
    h = help
    lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
    find = "!f() { git ls-files \"*$@*\"; }; f"
[mergetool]
    keepBackup = false
[push]
    default = simple
