.Xauthority
.aptitude/
.bash_history
.cache/
.config/
.dbus/
.gtkrc-2.0
.histfile
.kde/
.lesshst
.local/
.mozilla/
.python_history
.sudo_as_admin_successful
.wajig/
.xsession-errors
.zcompdump
.zcompdump-kubuntu-5.1.1
.zsh-update
.zsh_history
